body 
{
  margin:0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.image 
{
  width:450px;
  height:250px;
}
.btn-user
{
  background-color:cornflowerblue;
  padding:10px;
  width:100px;
  border:none;
  border-radius: 15px;
}
.btn-user a
{
  color:black;
  text-decoration: none;
}
.container 
{
  margin:0;
}
.box 
{
  display:flex;
  gap:15px;
  border-radius: 12px;
  width:90%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.place 
{
  color:#57534D;
}
.status
{
  color:green;
}
.btn-dark 
{
  border:none;
  padding:5px;
  border-radius: 12px;
}
.category-box 
{
  border: 1px solid #000;
  text-align: center;
  padding:2px;
  color:#000;
  width:80%;
  border-radius: 12px;
}
